@page
@model CosmicFood.Pages.Customer.Cart.OrderConfirmationModel
@{
}

<body class="searchground1">
    <div class="container row">
        <div class="col-12 text-center">
            <h1 class="text-primary text-center">Order Placed Successful!</h1>
            Your Order Number is : @Model.OrderId <hr /><br />
            <img />
        </div>
        <div style="color:goldenrod" class="col-12 text-center">
            <hr />
            Your order has been placed successfully!
        </div>
    </div>
</body>
